<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletInicioSesion</servlet-name>
        <servlet-class>cl.ventasonline.control.ServletInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCAgrCarrito1</servlet-name>
        <servlet-class>Carrito.ServletCAgrCarrito1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCAgrCarrito2</servlet-name>
        <servlet-class>Carrito.ServletCAgrCarrito2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCAgrCarrito3</servlet-name>
        <servlet-class>Carrito.ServletCAgrCarrito3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCFinalizarCompra</servlet-name>
        <servlet-class>cl.ventasonline.control.ServletCFinalizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFinSesion</servlet-name>
        <servlet-class>cl.ventasonline.control.ServletFinSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInicioSesion</servlet-name>
        <url-pattern>/ServletInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCAgrCarrito1</servlet-name>
        <url-pattern>/ServletCAgrCarrito1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCAgrCarrito2</servlet-name>
        <url-pattern>/ServletCAgrCarrito2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCFinalizarCompra</servlet-name>
        <url-pattern>/ServletCFinalizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFinSesion</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCAgrCarrito3</servlet-name>
        <url-pattern>/showcarrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
